* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.admin-reviews {
  display: flex;
  margin-top: 10px;
}

.content-section {
  width: 100%;
  margin-left: 30px;
  margin-right: 150px;
}

.reviews .card {
  border: none;
}

.reviews .card-header {
  background-color: #fff;
  border: none;
  margin-left: -15px;
  display: flex;
  gap: 12px;
}

.reviews img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.reviews .card-header h5 {
  margin-top: 25px;
  font-size: 1.2rem;
  font-weight: 600;
}

.reviews p {
  text-align: justify;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.8;
}

.reviews hr {
  margin-top: -25px;
}
