* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.dark-background {
    background-color: rgba(160, 158, 158, 0.8);
    padding-top: -540px;
}

.change-background {
    background-color: rgba(165, 162, 162, 0.8) !important;
}

.changeinput-background {
    background-color: rgba(160, 158, 158, 0.1) !important;
}

.changemenu-background {
    background-color: rgba(178, 174, 174, 0.8) !important;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.header-search {
    width: 150px;
    margin-top: -60px;
    background-color: rgb(243, 242, 242);
    border-radius: 20px;
    display: flex;  
    align-items: center;
    padding: 5px;
}

#search {
    width: 25px;
    margin-left: 10px;
}

.header-search input {
    width: 100px;
    background-color: rgb(243, 242, 242);
    outline: none;
    border: none;
    padding: 2px 10px;
    font-size: 16px;
}

.header-search input::placeholder {
    color: #000;
}

.header-logo img {
    width: 250px;
    height: 160px;
}

.header-user {
    display: flex;
    margin-top: -60px;
    align-items: center;
    gap: 15px;
}

#cart i, #search1 i, #list i {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 12px 12px;
    color: #000;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

#user i {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    padding: 8.5px 8.5px;
    color: #000;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

#cart i:hover, #user i:hover, #search1 i:hover, #list i:hover {
    background-color: #FFBA35;
} 

#cart-count {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    position: absolute;
    top: 24px;
    right: 177px;
    font-size: 15px;
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
}

#drop-down {
    text-align: center;
    display: none;
    position: absolute;
    top: 90px;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 0;
}

#login-link, #signup-link, #profile-link, #logout-link {
    padding: 10px 20px;
}

#login-link, #profile-link {
    border-bottom: black 1px solid;
}

#login-link a, #signup-link a, #profile-link a, #logout-link a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

.header-menu {
    background-color: black;
    margin-top: -70px;
    height: 60px;
}

.nav {
    display: flex;
    gap: 60px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 20px 20px;
}

.nav a:hover {
    color: black;
}

.nav-link {
    margin-top: 10px;
} 

#products-dropdown {
    text-align: center;
    display: none;
    position: absolute;
    top: 160px;
    right: 780px;
    padding:10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#chair-link, #table-link, #sofa-link, #home-link, #contact-link, #story-link {
    padding: 10px 20px;
}

#chair-link, #table-link {
    border-bottom: black 1px solid;
}

#chair-link a, #table-link a, #sofa-link a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

#cart.active i {
    background-color: #FFBA35;
}

#drop-down li:hover, .header-menu a:hover {
    background-color: #FFBA35;
    padding: 10px 20px;
    border-radius: 3px;
}




/* Media Queries */
@media (min-width: 1440px) {
    #products-dropdown {
        right: 770px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1440px) {
    #products-dropdown {
        right: 710px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1399px) {
    #products-dropdown {
        right: 670px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
    #products-dropdown {
        right: 630px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    #products-dropdown {
        right: 530px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1023px) {
    #products-dropdown {
        right: 460px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
    #products-dropdown {
        right: 410px;
    }
}

@media only screen and (min-width: 600.98px) and (max-width: 768px) {
    .header-container {
        padding: 10px 50px 10px 40px;
    }

    .header-search {
        margin-top: -40px;
        padding: 4px;
    }

    .header-logo img {
        padding-top: -0.5rem;
        width: 200px;
        height: 130px;
    }

    .header-user {
        margin-top: -40px;
    }

    #cart-count {
        top: 30px;
        right: 128px;
    }

    .nav {
        margin-top: 1rem;
        gap: 5px;
    }

    #drop-down {
        top: 96px;
        margin-left: -30px;
        width: 180px;
    }

    #drop-down li:hover {
        padding: 10px 15px;
    }

    .box {
        right: 48px;
    }

    #login-link, #signup-link, #profile-link, #logout-link {
        padding: 10px 2px;
    }

    #products-dropdown {
        margin-top: 6px;
        right: 310px;
    }
}

@media only screen and (min-width: 425px) and (max-width: 600.98px) {
    header {
        height: 55px;
    }

    .hide-nav {
        transform: translateY(-100%);
    }

    .header-container {
        display: flex;
        align-items: center;
        margin-top: -20px;
        padding: 0px 20px;
    }

    .header-search {
        display: none;
    }

    .header-logo img {
        width: 240px;
        height: 150px;
        margin-left: -70px;
        margin-top: -25px;
    }

    .header-menu {
        margin-top: 1px;
    }

    .header-user {
        gap: 10px;
        margin-top: -65px;
    }

    #cart i, #search1 i, #list i {
        font-size: 16px;
        padding: 9px 9px;
    }

    #user i {
        font-size: 20px;
        padding: 7.5px 7.5px;
    }

    #search1 {
        display: block !important;
    }

    #cart-count {
        font-size: 13px;
        top: 10px;
        right: 165px;
    }

    #drop-down {
        top: 65px;
        margin-left: -14px;
        padding: 10px 18px;
    }

    #list {
        display: block !important;
    }

    #drop-down-list {
        position: absolute;
        top: 65px;
        background-color: #fff;
        text-align: center;
        padding: 0px 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .box {
        display: none;
    }

    #home-link, #sofa-link, #story-link {
        border-bottom: black 1px solid;
    }
    
    #home-link a, #story-link a, #contact-link a {
        color: #000;
        font-weight: 500;
        text-decoration: none;
    }

    #list.active i, #search1.active i {
        background-color: #FFBA35;
    }

    #drop-down-list li:hover {
        background-color: #FFBA35;
        border-radius: 3px;
    }

    .header-menu {
        display: none;
    }

    #logout-link, #profile-link, #signup-link, #login-link {
        padding: 5px 10px;
    }

    #home-link, #sofa-link, #story-link, #contact-link, #table-link, #chair-link {
        padding: 8px 12px;
    }

    #home-link a, #story-link a, #contact-link a, #login-link a, #logout-link a, #signup-link a, #chair-link a, #table-link a, #sofa-link a, #contact-link a {
        font-size: 12px;
        color: #000;
    }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
    header {
        height: 54px;
    }

    .hide-nav {
        transform: translateY(-100%);
    }

    .header-container {
        display: flex;
        align-items: center;
        margin-top: -10px;
        padding: 0px 20px;
    }

    .header-search {
        display: none;
    }

    .header-logo img {
        width: 210px;
        height: 135px;
        margin-left: -70px;
        margin-top: -20px;
    }

    .header-menu {
        margin-top: 1px;
    }

    .header-user {
        gap: 10px;
    }

    #cart i, #search1 i, #list i {
        font-size: 15px;
        padding: 8px 8px;
    }

    #user i {
        font-size: 18px;
        padding: 7px 7px;
    }

    #search1 {
        display: block !important;
    }

    #cart-count {
        top: 10px;
        right: 155px;
        font-size: 11px;
    }

    #drop-down {
        top: 55px;
        margin-left: -12px;
    }

    #drop-down li:hover {
        padding: 2px 10px;
    }

    #list {
        display: block !important;
    }

    #drop-down-list {
        position: absolute;
        top: 55px;
        right: 10px;
        background-color: #fff;
        text-align: center;
        padding: 0px 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .box {
        display: none;
    }

    #home-link, #sofa-link, #story-link {
        border-bottom: black 1px solid;
    }
    
    #home-link a, #story-link a, #contact-link a {
        color: #000;
        font-weight: 500;
        text-decoration: none;
    }

    #list.active i, #search1.active i {
        background-color: #FFBA35;
    }

    #drop-down-list li:hover {
        background-color: #FFBA35;
        border-radius: 3px;
    }

    .header-menu {
        display: none;
    }

    #logout-link, #profile-link, #signup-link, #login-link {
        padding: 2px 10px;
    }

    #home-link, #sofa-link, #story-link, #contact-link, #table-link, #chair-link {
        padding: 6px 10px;
    }

    #home-link a, #story-link a, #contact-link a, #login-link a, #logout-link a, #signup-link a, #chair-link a, #table-link a, #sofa-link a, #contact-link a {
        font-size: 12px;
        color: #000;
    }
}

@media only screen and (max-width: 375px) and (min-width: 320px) {
    header {
        height: 45px;
    }

    .hide-nav {
        transform: translateY(-100%);
    }

    .header-container {
        align-items: center;
        margin-top: -5px;
        padding: 0px 20px;
    }

    .header-search {
        display: none;
    }

    .header-logo img {
        width: 180px;
        height: 110px;
        margin-left: -60px;
        margin-top: -15px;
    }

    .header-user {
        gap: 10px;
        margin-top: -50px;
        margin-right: -10px;
    }

    #cart i, #search1 i, #list i {
        font-size: 14px;
        padding: 8px 8px;
    }

    #user i {
        font-size: 18px;
        padding: 6px 6px;
    }

    #search1 {
        display: block !important;
    }

    #cart-count {
        font-size: 11px;
        top: 6px;
        right: 141px;
    }
    
    #drop-down {
        top: 46px;
        margin-left: -5px;
    }

    #drop-down li:hover {
        padding: 2px 10px;
    }

    #drop-down-list {
        position: absolute;
        top: 46px;
        right: 10px;
        background-color: #fff;
        text-align: center;
        padding: 0px 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        z-index: 1;
    }

    #list {
        display: block !important;
    }

    .box {
        display: none;
    }

    #home-link, #sofa-link, #story-link {
        border-bottom: black 1px solid;
    }
    
    #home-link a, #story-link a, #contact-link a {
        color: #000;
        font-weight: 500;
        text-decoration: none;
    }

    #list.active i, #search1.active i {
        background-color: #FFBA35;
    }

    #drop-down-list li:hover {
        background-color: #FFBA35;
        border-radius: 3px;
    }

    .header-menu {
        display: none;
    }

    #logout-link, #profile-link, #signup-link, #login-link {
        padding: 2px 10px;
    }

    #home-link, #sofa-link, #story-link, #contact-link, #table-link, #chair-link {
        padding: 4px 10px;
    }

    #home-link a, #story-link a, #contact-link a, #login-link a, #logout-link a, #signup-link a, #chair-link a, #table-link a, #sofa-link a, #contact-link a {
        font-size: 10px;
        color: #000;
    }
}


    

















