* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: black;
    color: white;
    padding: 10px 10px 30px 190px;
}

footer .footer-logo img{
    max-width: 150px;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer ul li{
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
}

footer ul li i{
    margin-right: 10px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color:  #FFBA35;
}

footer h5{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer .list-inline {
    justify-content: center;
    align-items: center;
    padding: 0;
}

footer .facebook i, footer .twitter i{
    font-size: 25px;
    color: black;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    padding: 6px 6px;
}

footer .instagram i{
    font-size: 25px;
    color: black;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    padding: 6px 7.5px;
}

footer .youtube i{
    font-size: 25px;
    color: black;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    padding: 6px 4.5px;
}

footer .facebook i:hover, footer .twitter i:hover, footer .instagram i:hover, footer .youtube i:hover{
    background-color: #FFBA35;
}



/* Media Queries */
@media (max-width: 1440px) {
    footer {
        margin-top: 30px;
        padding: 10px 10px 30px 130px;
    }
}

@media (max-width: 1200px) {
    footer {
        padding: 10px 10px 30px 50px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    footer {
        margin-top: 30px;
        padding: 10px;
        text-align: center;
    }

    footer .footer-logo img {
        max-width: 130px;
        margin-left: -10rem;
    }

    footer .social-links {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    footer {
        margin-top: 20px;
        padding: 10px;
        text-align: center;
    }

    footer .footer-logo img {
        max-width: 130px;
        margin-bottom: 10px;
        margin-top: -2.5rem;
    }

    footer h5 {
        font-size: 24px;
    }

    footer .social-links {
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    footer {
        padding: 10px;
    }

    footer .footer-logo img {
        max-width: 100px;
        margin-bottom: 10px;
        margin-top: -2.5rem;
    }

    footer h5 {
        font-size: 20px;
    }
    
    footer .facebook i, footer .twitter i, footer .instagram i, footer .youtube i {
        font-size: 18px;
    }

    footer .instagram i {
        padding: 6px 7px;
    }
}