* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.contact-section {
    margin: 4rem 10rem 4rem 14rem;
}

.contact-section .card1 {
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.contact-section input {
    z-index: 0;
}

.contact-section input::placeholder {
    font-size: 0.9rem;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important; 
    -webkit-text-fill-color: #000 !important; 
}

.contact-section .card2 {
    border: none;
}

.contact-section iframe {
    border-radius: 10px;
}

.contact-section .gap {
    margin-right: 30px;
}

.contact-section .card-body {
    padding: 2rem 4rem;
}

.contact-section .card-body h1 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.contact-section .card-body p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1px;
    text-align: justify;
}

.contact-section button.btn-primary {
    width: 100%;
    background-color: #FFBA35;
    margin: 1rem 0;
    border: none;
    color: black;
    width: 100%;
}

.contact-section button.btn-primary:hover {
    background-color: #FFBA35; 
    color: black;
}

.contact-section .contact-info {
    margin-top: 1.5rem;
    text-align: center;
}

.contact-section .contact-info p {
    width: 100%;
    background-color: black;
    padding: 8px 0;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    color: #fff;
    font-size: 0.8rem;
}

.contact-section .contact-info p i {
    font-size: 18px;
}




/* Popup CSS */
.popup-section .modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.popup-section .modal-content {
    text-align: center;
    padding: 20px;
}

.popup-section .icon-success {
    margin-top: -20px;
    margin-bottom: -10px;
    color: green;
    font-size: 60px;
}

.popup-section .icon-error {
    margin-top: -20px;
    margin-bottom: -10px;
    color: red;
    font-size: 60px;
}

.popup-section .modal-para {
    font-size: 18px;
    font-weight: bold;
}

.popup-section .modal-dialog {
    max-width: 500px;
}

.blurred-transition {
    transition: background-color 0.1s ease; 
}

.unblurred-transition {
    transition: background-color 0.8s ease-in-out; 
}

.contact-dark-background {
    background-color: rgba(158, 152, 152, 0.8);
    padding-top: -540px;
    transition: background-color 0.2s ease-in-out; 
}

.contact-search-dark-background {
    background-color: rgba(158, 152, 152, 0.8);
}

.contact-input-dark-background {
    background-color: rgba(158, 152, 152, 0.3) !important;
}





/* Media Queries */
@media only screen and (min-width: 1400px) and (max-width: 1440px) {
    .contact-section {
        margin: 4rem 9rem 4rem 12.5rem;
    }

    .contact-section .card-body p {
        letter-spacing: 0px;
    }
}


@media only screen and (min-width: 1280px) and (max-width: 1400px) {
    .contact-section {
        margin: 4rem 9rem 4rem 12rem;
    }

    .contact-section .card-body p {
        letter-spacing: 0px;
    }

    .contact-section button {
        margin: 0.4rem 0;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
    .contact-section {
        margin: 4rem 9rem 4rem 11.5rem;
    }

    .contact-section .card-body p {
        letter-spacing: 0px;
    }

    .contact-section button {
        margin: 0.4rem 0;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .contact-section {
        margin: 4rem 4rem 4rem 3.5rem;
    }

    .contact-section .gap {
        margin-right: 40px;
    }

    .contact-section .card1 {
        width: 450px;
    }

    .contact-section .card2 {
        width: 400px;
    }

    .contact-section .card-body {
        padding: 2rem 2rem;
    }

    .contact-section .card-body p {
        letter-spacing: 0px;
    }

    .contact-section button {
        margin: 0.4rem 0;
    }

    .contact-section iframe {
        height: 340px;
    }
}

@media only screen and (min-width:1000px) and (max-width: 1024px) {
    .contact-section {
        margin: 4rem 4rem 4rem 4rem;
    }

    .contact-section .gap {
        margin-right: 20px;
    }

    .contact-section .card1 {
        width: 400px;
    }

    .contact-section .card2 {
        width: 400px;
    }

    .contact-section .card-body {
        padding: 2rem 2rem;
    }

    .contact-section .card-body p {
        letter-spacing: 0px;
    }

    .contact-section button {
        margin: 0.4rem 0;
    }
}

@media only screen and (min-width: 991.98px) and (max-width: 1000px) {
    .contact-section {
        margin: 4rem 4rem 4rem 3.5rem;
    }

    .contact-section .gap {
        margin-right: 20px;
    }

    .contact-section .card1 {
        width: 400px;
    }

    .contact-section .card2 {
        width: 400px;
    }

    .contact-section .card-body {
        padding: 2rem 2rem;
    }

    .contact-section .card-body p {
        letter-spacing: 0px;
    }

    .contact-section button {
        margin: 0.4rem 0;
    }
}

@media only screen and (min-width: 900px) and (max-width: 991.98px) {
    .contact-section {
        margin: 4rem 3.5rem 4rem -1rem;
    }

    .contact-section .gap {
        margin-right: 60px;
    }

    .contact-section .card1 {
        width: 400px;
    }

    .contact-section .card2 {
        width: 350px;
    }

    .contact-section .card-body {
        padding: 2rem 2rem;
    }

    .contact-section .card-body p {
        letter-spacing: 0px;
    }

    .contact-section button {
        margin: 0.4rem 0;
    }
}

@media only screen and (min-width: 767.98px) and (max-width: 900px) {
    .contact-section {
        margin: 4rem 1rem 4rem -0.5rem;
    }

    .contact-section .gap {
        margin-right: 60px;
    }

    .contact-section .card1 {
        width: 380px;
    }

    .contact-section .card2 {
        width: 300px;
    }

    .contact-section .card-body {
        padding: 2rem 2rem;
    }

    .contact-section .card-body h1 {
        font-size: 2rem;
    }

    .contact-section .card-body p {
        letter-spacing: 0px;
    }

    .contact-section form label {
        font-size: 0.9rem;
    }

    .contact-section textarea {
        height: 100px;
    }

    .contact-section button {
        margin: 0.4rem 0;
    }

    .contact-section iframe {
        height: 320px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767.98px) {
    .contact-section {
        margin: 2.5rem 0;
    }

    .contact-section .card1 {
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
    .contact-section {
        margin: 1.5rem 0 2rem 0;
    }

    .contact-section .card1 {
        margin-bottom: 2rem;
    }

    .contact-section .card-body h1 {
        font-size: 2rem;
    }

    .contact-section label {
        font-size: 0.9rem;
    }



    .popup-section .modal-dialog-centered {
        width: 450px;
    }

    .popup-section .icon-success {
        margin-top: -10px;
        margin-bottom: -30px;
    }
    
    .popup-section .icon-error {
        margin-top: -10px;
        margin-bottom: -30px;
    }
}

@media only screen and (min-width: 425px) and (max-width: 500px) {
    .contact-section {
        margin: 1.5rem 0 2rem 0;
    }

    .contact-section .card1 {
        margin-bottom: 2rem;
    }

    .contact-section .card-body h1 {
        font-size: 2rem;
    }

    .contact-section .card-body p {
        font-size: 0.8rem;
    }

    .contact-section label {
        font-size: 0.9rem;
    }

    .contact-section textarea {
        height: 100px;
    }

    .contact-section .card-body {
        padding: 2rem 2rem;
    }



    .popup-section .modal-dialog-centered {
        width: 400px;
    }

    .popup-section .icon-success {
        margin-top: -25px;
        margin-bottom: -15px;
    }
    
    .popup-section .icon-error {
        margin-top: -25px;
        margin-bottom: -15px;
    }

    .popup-section .modal-para {
        font-size: 16px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
    .contact-section {
        margin: 1.5rem 0 2rem 0;
    }

    .contact-section .card1 {
        margin-bottom: 2rem;
    }

    .contact-section .card-body h1 {
        font-size: 1.8rem;
    }

    .contact-section .card-body p {
        font-size: 0.7rem;
    }

    .contact-section label {
        font-size: 0.9rem;
    }

    .contact-section input::placeholder {
        font-size: 0.9rem;
    }

    .contact-section .message {
        margin-top: -0.8rem;
    }

    .contact-section textarea {
        height: 100px;
    }

    .contact-section .card-body {
        padding: 1.5rem 1.5rem;
    }

    .contact-section button {
        margin: 0.4rem 0;
    }




    .popup-section .modal-dialog-centered {
        width: 350px;
    }

    .popup-section .icon-success {
        margin-top: -25px;
        margin-bottom: -15px;
        font-size: 50px;
    }
    
    .popup-section .icon-error {
        margin-top: -25px;
        margin-bottom: -15px;
        font-size: 50px;
    }

    .popup-section .modal-para {
        font-size: 16px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .contact-section {
        margin: 1.9rem 0 2rem 0;
    }

    .contact-section .form-group {
        margin-top: -0.5rem;
    }

    .contact-section .message {
        margin-top: -0.8rem;
    }

    .contact-section .card1 {
        margin-bottom: 2rem;
    }

    .contact-section .card-body h1 {
        font-size: 1.6rem;
    }

    .contact-section .card-body p {
        font-size: 0.7rem;
    }

    .contact-section label {
        font-size: 0.8rem;
    }

    .contact-section input::placeholder {
        font-size: 0.8rem;
    }

    .contact-section textarea {
        height: 80px;
    }

    .contact-section .card-body {
        padding: 1.5rem 1.5rem;
    }

    .contact-section button {
        margin: 0.4rem 0;
    }




    .popup-section .modal-dialog-centered {
        width: 300px;
    }

    .popup-section .icon-success {
        margin-top: -12px;
        margin-bottom: -2px;
        font-size: 45px;
    }
    
    .popup-section .icon-error {
        margin-top: -12px;
        margin-bottom: -2px;
        font-size: 45px;
    }

    .popup-section .modal-para {
        font-size: 15px;
    }
}

