* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* About Section */
.about-section {
    padding: 40px 0;
}

.about-section h1 {
    font-weight: 600;
}

.about-section .story {
    padding: 20px 30px 20px 70px;
    font-size: 15px;
    text-align: justify;
    letter-spacing: 0.3px;
    line-height: 1.8;
    color: #646161;
}

.about-section  img {
    margin-top: 4.5rem;
}


/* Service Section */
.service-section {
    margin-top: -0.5rem;
    padding-right: 10px;
    width: 99.2%;
    margin-bottom: 2rem;
}

.service-section .card {
    align-items: center;
    border: none; 
}

.service-section .body {
    display: flex;
    align-items: center;
    gap: 20px;
}

.service-section img {
    width: 80px;
    text-align: center;
}

.service-section h4 {
    font-size: 18px;
    font-weight: 600;
}

.service-section span {
    font-size: 24px;
    font-weight: 700;
}



/* Features2 Section */
.features2-section {
    padding: 40px 0;
}

.features2-section .row {
    margin: 0 4rem;
}

.features2-section .card {
    height: 15rem;
    border-radius: 40px;
}

.features2-section .card-body {
    padding: 35px 25px;
}

.features2-section .image1 {
    height: 31rem;
    border: none;
}

.features2-section .image1 img {
    height: 31rem;
    border-radius: 40px;
}

.features2-section .second-line {
    margin-top: -14.5rem;
}

.features2-section .title {
    border: none;
}

.features2-section .third-line {
    margin-top: 1.5rem;
}

.features2-section .image2 img {
    height: 15rem;
    border-radius: 40px;
}

.features2-section .card-title {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.features2-section .card-text {
    letter-spacing: 1px;
    font-family: Arial, sans-serif;
    color: #646161;
}

.features2-section .title h5 {
    font-size: 55px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 3rem;
    text-align: center;
}







/* Media Queries */
@media only screen and (min-width: 1400px) and (max-width: 1440px) {

}

@media only screen and (min-width: 1280px) and (max-width: 1400px) {
    .about-section .story {
        padding: 20px 30px 20px 30px;
    }

    .about-section  img {
        margin-top: 5.5rem;
    }



    .features2-section .row {
        margin: 0 1.2rem;
    }

    .features2-section .second-line {
        margin-top: -14.5rem;
    }

    .features2-section .third-line {
        margin-top: 1.5rem;
    }
    
    .features2-section .card-title {
        font-size: 30px;
    }
    
    .features2-section .title h5 {
        font-size: 50px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
    .about-section .story {
        padding: 20px 30px 20px 30px;
    }

    .about-section  img {
        margin-top: 5.5rem;
    }



    .features2-section .row {
        margin: 0 1.2rem;
    }

    .features2-section .second-line {
        margin-top: -14.5rem;
    }

    .features2-section .third-line {
        margin-top: 1.5rem;
    }
    
    .features2-section .card-title {
        font-size: 30px;
    }
    
    .features2-section .title h5 {
        font-size: 50px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .about-section .story {
        padding: 20px 30px 20px 10px;
    }

    .about-section  img {
        margin-top: 7.5rem;
    }



    .features2-section .row {
        margin: 0 -0.5rem;
    }

    .features2-section .second-line {
        margin-top: -14.5rem;
    }

    .features2-section .third-line {
        margin-top: 1.5rem;
    }
    
    .features2-section .card-title {
        font-size: 26px;
    }
    
    .features2-section .title h5 {
        font-size: 50px;
    }
}

@media only screen and (min-width:1000px) and (max-width: 1024px) {
    .about-section .story {
        padding: 20px 30px 20px 10px;
    }

    .about-section  img {
        margin-top: 7.5rem;
    }



    .features2-section .row {
        margin: 0 -0.5rem;
    }

    .features2-section .second-line {
        margin-top: -14.5rem;
    }

    .features2-section .third-line {
        margin-top: 1.5rem;
    }
    
    .features2-section .card-title {
        font-size: 26px;
    }
    
    .features2-section .title h5 {
        font-size: 50px;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1000px) {
    .about-section .story {
        padding: 20px 30px 20px 5px;
    }

    .about-section  img {
        margin-top: 7.5rem;
    }



    .features2-section .row {
        margin: 0 -0.5rem;
    }

    .features2-section .second-line {
        margin-top: -14.5rem;
    }

    .features2-section .third-line {
        margin-top: 1.5rem;
    }
    
    .features2-section .card-title {
        font-size: 26px;
    }
    
    .features2-section .title h5 {
        font-size: 50px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 992px) {
    .about-section .story {
        padding: 20px 30px 20px 5px;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 1.8;
    }

    .about-section  img {
        margin-top: 8rem;
        height: 15rem;
    }



    .features2-section .row {
        margin: 0 -0.5rem;
    }

    .features2-section .card {
        height: 12rem;
    }

    .features2-section .card-body {
        padding: 30px 12px;
    }

    .features2-section .image1 {
        height: 25rem;
    }
    
    .features2-section .image1 img {
        height: 25rem;
    }

    .features2-section .second-line {
        margin-top: -11.5rem;
    }

    .features2-section .third-line {
        margin-top: 1.5rem;
    }
    
    .features2-section .card-title {
        font-size: 20px;
    }
    
    .features2-section .card-text {
        font-size: 13px;
    }
    
    .features2-section .title h5 {
        font-size: 38px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 900px) {
    .about-section .story {
        padding: 20px 30px 20px 5px;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 1.8;
    }

    .about-section  img {
        margin-top: 8rem;
        height: 15rem;
    }



    .features2-section .row {
        margin: 0 -0.5rem;
    }

    .features2-section .card {
        height: 12rem;
    }

    .features2-section .card-body {
        padding: 30px 12px;
    }

    .features2-section .image1 {
        height: 25rem;
    }
    
    .features2-section .image1 img {
        height: 25rem;
    }

    .features2-section .second-line {
        margin-top: -11.5rem;
    }

    .features2-section .third-line {
        margin-top: 1.5rem;
    }
    
    .features2-section .card-title {
        font-size: 20px;
    }
    
    .features2-section .card-text {
        font-size: 13px;
    }
    
    .features2-section .title h5 {
        font-size: 38px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .about-section .story {
        padding: 0;
        align-items: center;
        font-size: 14px;
        letter-spacing: 0.3px;
    }

    .about-section  img {
        margin-top: 1rem;
    }




    .features2-section h1 {
        display: block !important;
        margin-bottom: 1.5rem;
        font-weight: 700;
    }

    .features2-section .row {
        margin: 0 1rem;
    }

    .features2-section .card {
        height: 10rem;
        margin-bottom: 1rem;
    }

    .features2-section .card-body {
        padding: 30px 30px;
    }

    .features2-section .image1 {
        display: none;
    }
    
    .features2-section .image1 img {
        display: none;
    }
    
    .features2-section .card-title {
        font-size: 25px;
    }
    
    .features2-section .card-text {
        font-size: 14px; 
    }
    
    .features2-section .title {
        display: none;
    }

    .features2-section .image2 {
        display: none;
    }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
    .about-section {
        margin-top: -80px;
    }

    .about-section .story {
        align-items: center;
        padding: 0 20px;
        font-size: 13px;
    }

    .about-section img {
        padding: 0 20px;
        margin-top: 1rem;
    }




    .features2-section h1 {
        display: block !important;
        margin-bottom: 1.5rem;
        font-weight: 700;
    }

    .features2-section .row {
        margin: 0 1rem;
    }

    .features2-section .card {
        height: 10rem;
        margin-bottom: 1rem;
    }

    .features2-section .card-body {
        padding: 30px 30px;
    }

    .features2-section .image1 {
        display: none;
    }
    
    .features2-section .image1 img {
        display: none;
    }
    
    .features2-section .card-title {
        font-size: 25px;
    }
    
    .features2-section .card-text {
        font-size: 14px; 
    }
    
    .features2-section .title {
        display: none;
    }

    .features2-section .image2 {
        display: none;
    }
}

@media only screen and (min-width: 425px) and (max-width: 500px) {
    .about-section {
        margin-top: -80px;
    }

    .about-section .story {
        align-items: center;
        padding: 0 20px;
        font-size: 12px;
    }

    .about-section img {
        padding: 0 20px;
        margin-top: 0.5rem;
    }




    .features2-section h1 {
        display: block !important;
        margin-bottom: 1.5rem;
        font-weight: 700;
    }

    .features2-section .row {
        margin: 0 1rem;
    }

    .features2-section .card {
        height: 10rem;
        margin-bottom: 1rem;
    }

    .features2-section .card-body {
        padding: 30px 30px;
    }

    .features2-section .image1 {
        display: none;
    }
    
    .features2-section .image1 img {
        display: none;
    }
    
    .features2-section .card-title {
        font-size: 24px;
    }
    
    .features2-section .card-text {
        font-size: 13px;
    }
    
    .features2-section .title {
        display: none;
    }

    .features2-section .image2 {
        display: none;
    }
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
    .about-section {
        margin-top: -80px;
    }

    .about-section .story {
        align-items: center;
        padding: 0 20px;
        font-size: 12px;
    }

    .about-section img {
        padding: 0 20px;
        margin-top: 0.5rem;
    }



    .features2-section h1 {
        display: block !important;
        margin-bottom: 1.5rem;
        font-weight: 700;
    }

    .features2-section .row {
        margin: 0 1rem;
    }

    .features2-section .card {
        height: 10rem;
        margin-bottom: 1rem;
    }

    .features2-section .card-body {
        padding: 30px 30px;
    }

    .features2-section .image1 {
        display: none;
    }
    
    .features2-section .image1 img {
        display: none;
    }
    
    .features2-section .card-title {
        font-size: 22px;
    }
    
    .features2-section .card-text {
        font-size: 12px;
    }
    
    .features2-section .title {
        display: none;
    }

    .features2-section .image2 {
        display: none;
    }
}

@media only screen and (max-width: 375px) and (min-width: 320px) {
    .about-section {
        margin-top: -75px;
    }

    .about-section .story {
        align-items: center;
        padding: 0 20px;
        font-size: 11px;
    }

    .about-section img {
        padding: 0 20px;
        margin-top: 0.5rem;
    }




    .features2-section h1 {
        display: block !important;
        margin-bottom: 1.5rem;
        font-weight: 700;
    }

    .features2-section .row {
        margin: 0 1rem;
    }

    .features2-section .card {
        height: 10rem;
        margin-bottom: 1rem;
    }

    .features2-section .card-body {
        padding: 20px 30px;
    }

    .features2-section .image1 {
        display: none;
    }
    
    .features2-section .image1 img {
        display: none;
    }
    
    .features2-section .card-title {
        font-size: 20px;
    }
    
    .features2-section .card-text {
        font-size: 12px;
    }
    
    .features2-section .title {
        display: none;
    }

    .features2-section .image2 {
        display: none;
    }
}