* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.admin-home {
    display: flex;
    margin-top: 10px;
}
  
.content-section {
    width: 100%;
    margin-left: 30px;
}

.content-section .first-analyze, .content-section .second-analyze {
    width: 100%;
}

#summary1, #summary2 {
    margin: 10px 10px 10px;
}

#summary3, #summary4 {
    margin: 10px 10px 10px;
}

#summary1, #summary2, #summary3, #summary4 {
    width: 170px;
    height: 120px;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
}

.summary p {
    margin-left: -10px;
    margin-right: -10px;
}

#chart {
    position: absolute;
    top: 19.3%;
    right: 15%;
    padding: 10px;
    width: 520px;
    height: 262px;
    border-radius: 15px;
}

#salesChart {
    align-items: center;
    padding: 10px 10px 20px 10px;
}

.content-section .second-analyze {
    display: flex;
    gap: 80px;
}

.content-section .card-title {
    font-weight: bold; 
}

#recent-order-table {
    width: 580px;
    margin: 10px 10px 10px 0px;
    font-size: 14px;
}

#top-selling-product-table {
    width: 320px;
    margin: 10px;
    font-size: 14px;
}

.content-section h3 {
    font-size: 18px;
    margin-left: 10px;
}

.content-section .recent-orders h3 {
    margin-left: 0px;
}

#recent-order-table th, #recent-order-table td, #top-selling-product-table th, #top-selling-product-table td {
    text-align: center;
}

#recent-order-table th, #top-selling-product-table th {
    font-weight: 400;
}





/* Media Queries */
@media only screen and (min-width: 1400px) and (max-width: 1440px) {
    #chart {
        top: 18%;
        right: 9%;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1400px) {
    #chart {
        width: 500px;
        height: 260px;
        top: 140px;
        right: 10%;
    }

    #recent-order-table {
        width: 540px;
    }

    #top-selling-product-table {
        width: 300px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
    #summary1, #summary2, #summary3, #summary4 {
        width: 150px;
        font-size: 12px;
    }

    .summary p {
        font-size: 14px;
        margin-left: -10px;
        margin-right: -10px;
    }

    #chart {
        width: 480px;
        height: 262px;
        top: 140px;
        right: 5%;
    }

    .content-section .second-analyze {
        gap: 42px;
    }

    #recent-order-table {
        width: 520px;
    }

    #top-selling-product-table {
        width: 280px;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
    #summary1, #summary2, #summary3, #summary4 {
        width: 145px;
        font-size: 11px;
    }

    .summary p {
        font-size: 15px;
        margin-left: -20px;
        margin-right: -20px;
    }

    #chart {
        width: 450px;
        height: 262px;
        top: 140px;
        right: 3%;
    }

    .content-section .second-analyze {
        gap: 30px;
    }

    #recent-order-table {
        width: 470px;
    }

    #top-selling-product-table {
        width: 240px;
    }
}

@media only screen and (min-width: 1024.98px) and (max-width: 1100px) {
    #summary1, #summary2, #summary3, #summary4 {
        width: 135px;
        height: 105px;
        font-size: 10px;
    }

    #summary1, #summary2 {
        margin: 10px 5px 10px;
          
    }
    
    #summary3, #summary4 {
        margin: 3px 5px 10px;
    }

    #summary1, #summary3 {
        margin-left: 20px;
    }

    .summary p {
        font-size: 14px;
        margin-left: -20px;
        margin-right: -20px;
    }

    #chart {
        width: 400px;
        height: 225px;
        top: 140px;
        right: 3.5%;
    }

    .content-section .second-analyze {
        gap: 28px;
    }

    #recent-order-table {
        width: 420px;
    }

    #top-selling-product-table {
        width: 210px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1024px) {
    #summary1, #summary2, #summary3, #summary4 {
        width: 120px;
        height: 100px;
        font-size: 12px;
    }

    #summary1, #summary2 {
        margin: 10px 5px 10px;
    }
    
    #summary3, #summary4 {
        margin: 3px 5px 10px;
    }

    #summary1, #summary3 {
        margin-left: 20px;
    }

    .summary h2 {
        font-size: 1.5rem;
    }

    .summary p {
        font-size: 13px;
        margin-left: -20px;
        margin-right: -20px;
    }

    #chart {
        width: 410px;
        height: 215px;
        top: 138px;
        right: 3.5%;
    }

    .content-section h3 {
        margin-top: 10px;
        margin-left: 10px;
    }

    .content-section .second-analyze {
        gap: 0px;
    }

    #recent-order-table {
        margin: 10px 5px 10px 0px;
        width: 430px;
    }

    #top-selling-product-table {
        width: 200px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 999.98px) {
    #summary1, #summary2, #summary3, #summary4 {
        width: 120px;
        height: 100px;
    }

    #summary1, #summary2 {
        margin: 6px 5px 10px;
    }
    
    #summary3, #summary4 {
        margin: 3px 5px 10px;
    }

    #summary1, #summary3 {
        margin-left: 10px;
    }

    .summary h2 {
        font-size: 1.5rem;
    }

    .summary p {
        font-size: 13px;
        margin-left: -20px;
        margin-right: -20px;
    }

    #chart {
        width: 370px;
        height: 218px;
        top: 132px;
        right: 40%;
        left: 56%;
    }

    .content-section h3 {
        margin-left: 10px;
    }

    .content-section .second-analyze {
        gap: 15px;
    }

    #recent-order-table {
        margin: 10px 5px 10px 0px;
        width: 410px;
    }

    #top-selling-product-table {
        width: 170px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 899.98px) {
    #summary1, #summary2, #summary3, #summary4 {
        width: 110px;
        height: 90px;
    }

    #summary1, #summary2 {
        margin: 8px 5px 10px;
    }
    
    #summary3, #summary4 {
        margin: 3px 5px 10px;
    }

    #summary1, #summary3 {
        margin-left: 10px;
    }

    .summary h2 {
        font-size: 1.5rem;
    }

    .summary p {
        font-size: 12px;
        margin-left: -20px;
        margin-right: -20px;
    }

    #chart {
        width: 315px;
        height: 195px;
        top: 132px;
        right: 40%;
        left: 59%;
    }

    .content-section h3 {
        margin-left: 10px;
    }

    .content-section .second-analyze {
        gap: 0px;
    }

    #recent-order-table {
        margin: 10px 5px 10px 0px;
        width: 340px;
    }

    #top-selling-product-table {
        width: 150px;
    }

    #recent-order-table th, #recent-order-table td, #top-selling-product-table th, #top-selling-product-table td {
        font-size: 12px;
    }

    .content-section .selling-products h3, .content-section .recent-orders h3 {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 799.98px) {
    .content-section .first-analyze {
        display: block;
    }

    #summary1, #summary2, #summary3, #summary4 {
        width: 150px;
        height: 110px;
    }

    #summary1, #summary2 {
        margin: 18px 5px 10px;
    }

    #summary1, #summary3 {
        margin-left: 12px;
    }

    .summary p {
        font-size: 15px;
        margin-left: -20px;
        margin-right: -20px;
    }

    #chart {
        position: absolute;
        right: 70%;
        left: 36.5%;
        margin-top: 280px;
        display: inline-block;
        width: 450px;
    }

    .content-section .recent-orders {
        margin-top: 300px;
    }

    #recent-order-table {
        width: 470px;
    }

    .content-section .selling-products {
        margin-top: 20px;
    }

    .content-section .selling-products h3 {
        margin-left: 0px;
    }

    #top-selling-product-table {
        width: 350px;
        margin-left: 0px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 767.98px) {
    .content-section .first-analyze {
        display: block;
    }

    #summary1, #summary2, #summary3, #summary4{
        width: 130px;
        height: 100px;
    }

    #summary1, #summary3{
        margin-left: 12px;
          
    }

    .summary p {
        font-size: 13px;
        margin-left: -20px;
        margin-right: -20px;
    }

    #chart {
        position: absolute;
        left: 40%;
        margin-top: 250px;
        display: inline-block;
        width: 350px;
        height: 200px;
    }

    .content-section .recent-orders {
        margin-top: 230px;
        margin-left: -2px;
    }

    #recent-order-table {
        width: 300px;
    }

    .content-section #recent-order-table th {
        font-size: 12px;
    }

    .content-section .selling-products {
        margin-top: 10px;
    }

    .content-section .selling-products h3 {
        margin-left: 0px;
    }

    #top-selling-product-table {
        width: 200px;
        margin-left: 0px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
    .content-section {
        margin-left: 0px;
        margin-top: -10px;
    }

    .content-section h1 {
        margin-top: 20px;
        text-align: center;
    }

    #summary1, #summary2, #summary3, #summary4{
        width: 90px;
        height: 80px;
    }

    #summary1, #summary2{
        margin: 20px 3px 10px;
    }
    
    #summary3, #summary4{
        margin: 3px 3px 10px;
    }

    #summary1, #summary3{
        margin-left: 18px;
    }

    .summary p {
        font-size: 10px;
        margin-left: -30px;
        margin-right: -30px;
    }

    .summary h2 {
        font-size: 1.2rem;
    }

    #chart {
        width: 290px;
        height: 174px;
        top: 134px;
        z-index: -1;
        right: 1%;
    }

    .content-section .recent-orders {
        margin-top: -20px;
        margin-left: 10px;
    }

    #recent-order-table {
        width: 450px;
    }

    .content-section .selling-products h3 {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 425px) and (max-width: 499.98px) {
    .content-section {
        margin-left: 0px;
        margin-top: -10px;
    }

    .content-section h1 {
        margin-top: 20px;
        text-align: center;
    }

    #summary1, #summary2, #summary3, #summary4{
        width: 70px;
        height: 70px;
    }

    #summary1, #summary2{
        margin: 20px 3px 10px;
    }
    
    #summary3, #summary4{
        margin: 3px 3px 10px;
    }

    #summary1, #summary3{
        margin-left: 18px;
    }

    .summary p {
        font-size: 10px;
        margin-top: -5px;
        margin-left: -20px;
        margin-right: -20px;
    }

    .summary h2 {
        margin-top: -10px;
        margin-left: -20px;
        margin-right: -20px;
        font-size: 0.8rem;
    }

    #chart {
        width: 260px;
        height: 155px;
        top: 134px;
        z-index: -1;
        right: 1%;
    }

    .content-section .recent-orders {
        margin-top: -20px;
        margin-left: 10px;
    }

    #recent-order-table {
        width: 400px;
    }

    #recent-order-table th, #recent-order-table td, #top-selling-product-table th, #top-selling-product-table td {
        font-size: 12px;
    }

    .content-section .selling-products h3 {
        margin-left: 10px;
    }

    #top-selling-product-table {
        width: 250px;
        margin-left: 10px;
    }
}
