* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.admin-home {
    display: flex;
    margin-top: 10px;
}
  
.content-section {
    width: 100%;
    margin-left: 30px;
}

.content-section .first-analyze, .content-section .second-analyze {
    width: 100%;
}

#summary1, #summary2 {
    margin: 10px 10px 10px;
}

#summary3, #summary4 {
    margin: 10px 10px 10px;
}

#summary1, #summary2, #summary3, #summary4 {
    width: 170px;
    height: 120px;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
}

.summary p {
    margin-left: -10px;
    margin-right: -10px;
}

#chart {
    position: absolute;
    top: 19.3%;
    right: 15%;
    padding: 10px;
    width: 520px;
    height: 262px;
    border-radius: 15px;
}

#salesChart {
    align-items: center;
    padding: 10px 10px 20px 10px;
}

.content-section .second-analyze {
    display: flex;
    gap: 80px;
}

.content-section .card-title {
    font-weight: bold; 
}

#recent-order-table {
    width: 580px;
    margin: 10px 10px 10px 0px;
    font-size: 14px;
}

#top-selling-product-table {
    width: 320px;
    margin: 10px;
    font-size: 14px;
}

.content-section h3 {
    font-size: 18px;
    margin-left: 10px;
}

.content-section .recent-orders h3 {
    margin-left: 0px;
}

#recent-order-table th, #recent-order-table td, #top-selling-product-table th, #top-selling-product-table td {
    text-align: center;
}

#recent-order-table th, #top-selling-product-table th {
    font-weight: 400;
}





/* Media Queries */
@media only screen and (min-width: 1400px) and (max-width: 1440px) {
    #chart {
        top: 18%;
        right: 9%;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1400px) {
    #chart {
        width: 500px;
        height: 260px;
        top: 140px;
        right: 10%;
    }

    #recent-order-table {
        width: 540px;
    }

    #top-selling-product-table {
        width: 300px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
    #summary1, #summary2, #summary3, #summary4 {
        width: 150px;
        font-size: 12px;
    }

    .summary p {
        font-size: 14px;
        margin-left: -10px;
        margin-right: -10px;
    }

    #chart {
        width: 480px;
        height: 262px;
        top: 140px;
        right: 5%;
    }

    .content-section .second-analyze {
        gap: 42px;
    }

    #recent-order-table {
        width: 520px;
    }

    #top-selling-product-table {
        width: 280px;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
    #summary1, #summary2, #summary3, #summary4 {
        width: 145px;
        font-size: 11px;
    }

    .summary p {
        font-size: 15px;
        margin-left: -20px;
        margin-right: -20px;
    }

    #chart {
        width: 450px;
        height: 262px;
        top: 140px;
        right: 3%;
    }

    .content-section .second-analyze {
        gap: 30px;
    }

    #recent-order-table {
        width: 470px;
    }

    #top-selling-product-table {
        width: 240px;
    }
}

@media only screen and (min-width: 1024.98px) and (max-width: 1100px) {
    #summary1, #summary2, #summary3, #summary4 {
        width: 135px;
        height: 105px;
        font-size: 10px;
    }

    #summary1, #summary2 {
        margin: 10px 5px 10px;
          
    }
    
    #summary3, #summary4 {
        margin: 3px 5px 10px;
    }

    #summary1, #summary3 {
        margin-left: 20px;
    }

    .summary p {
        font-size: 14px;
        margin-left: -20px;
        margin-right: -20px;
    }

    #chart {
        width: 400px;
        height: 225px;
        top: 140px;
        right: 3.5%;
    }

    .content-section .second-analyze {
        gap: 28px;
    }

    #recent-order-table {
        width: 420px;
    }

    #top-selling-product-table {
        width: 210px;
    }
}
