* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.admin-products {
    display: flex;
    margin-top: 10px;
}
  
.content-section {
    width: 100%;
    margin-left: 30px;
    margin-right: 150px;
}


/* Add New Product */
.content-section .add-product {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(190, 188, 188);
    border-radius: 8px;
}

.content-section .add-title {
    padding: 16px 0 0 30px;
}

.content-section .add-icon {
    padding: 11px 30px 0 0;
}

.content-section i {
    font-size: 25px;
    padding: 3px 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.add-title p {
    font-size: 18px;
    font-weight: 500;
}


/* Table */
.table {
    text-align: center;
}

.table thead th {
    background-color: black;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 12px 0;
}

.table tbody td {
    background-color: rgb(243, 242, 242);
}

.table tbody tr {
    border-bottom: 3px solid #fff;
}

.edit i, .delete i {
    font-size: 20px;
}

.edit {
    background-color: #ffc756;
    border: none;
    padding: 2px 0;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
}

.delete {
    background-color: rgb(246, 131, 131);
    border: none;
    padding: 2px 0;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}