* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.sidebar-container {
    width: 250px;
}
  
.sidebar-logo img {
    width: 280px;
    height: 180px;
    margin-top: -35px;
    margin-left: -20px;
}
  
#sidebar {
    margin-top: -80px;
}
  
  
  
  
/* Media Queries */
@media screen and (max-width: 600px) {
    .sidebar-container {
      display: none;
    }
}